.container-fluid .row:nth-child(odd){
    background-color: #eceff1
}

.container-fluid {
    border-radius: 10px;
}

.container-fluid .row:nth-child(even){
    background-color: #cfD8dc
}

#grid{
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
}

.row{
    padding: 1em;
}

.header{
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
}

.date{
    text-align: center;
}

.action{
    text-align: center;
}

.newsTitle{
    font-weight: bold;
}